<app-top-bar></app-top-bar>
<div id="fullHome">
    <p id="cur">Currently reading</p>
    <img src="assets/images/ex.png" id="mainImg">
    <div id="right">
        <p id="name">1984</p>
        <p id="author">George Orwell</p>
        <p id="des">DESCRIPTION</p>
        <fieldset id="descr">
            <label id="lab">It’s 1984. Winston Smith lives alone in London. He is a secret rebel plotting his escape from the Party: the deadly dictatorship led by Big Brother. Winston dreams of finding freedom, love and peace: everything that is outlawed. The story of Winston’s rebellion, and his need to love others, reveals the strength of the human spirit against the darkest sides of human nature..</label>
        </fieldset>
    </div>
    <div id="rec">
        <p id="reco">Recommendations</p>
        <div id="recBooks">
            <img src="assets/images/first.png" id="book">
            <img src="assets/images/second.png" id="book">
            <img src="assets/images/third.png" id="book">
        </div>
    </div>
    <div id="pop">
        <p id="popu">Popular this week</p>
        <div>
            <fieldset id="popBlock">
                <p id="Bname">The Love Hypothesis</p>
                <p id="Bauthor">Ali Hazelwood</p>
                <hr id="po">
                <p id="Bname">1984</p>
                <p id="Bauthor">George Orwell</p>
                <hr id="po">
                <p id="Bname">The Love Hypothesis</p>
                <p id="Bauthor">Ali Hazelwood</p>
            </fieldset>
        </div>
    </div>
</div>
<app-footer></app-footer>