<div *ngIf="game!=undefined">
    <a routerLink="/book/{{game.id}}"><img src="{{game.img}}" id="mainImg" *ngIf="game.img!=undefined"></a>
    <div id="right" *ngIf="game.title!=undefined">
        <p id="name">{{game.title}}</p>
        <p id="author">{{game.author}}</p>
        <p id="des">DESCRIPTION</p>
        <fieldset id="descr">

            <label id="lab">{{game.description}} <a *ngIf="appear==true"><a *ngIf="check==true" id="show" (click)="changeDes()"> Show more</a><a *ngIf="check==false" (click)="changeDes()" id="show"> Hide text</a></a> </label>

        </fieldset>
    </div>
</div>