<!-- <div class="navbar">
    <div class="frame-2">
      <div class="component-1">
        <p class="text-1">HOME</p>
        <div class="line-1"></div>
      </div>
      <div class="component-3">
        <p class="text-2">CATALOG</p>
        <div class="line-1"></div>
      </div>
      <div class="component-2">
        <p class="text-3">MY BOOKS</p>
        <div class="line-1"></div>
      </div>
    </div>
    <div class="logo">
      <img src="" />
    </div>
    <div class="avatar">
      <div class="group">
        <img src="logo_web-removebg-preview.svg">
      </div>
    </divй>
    <div class="rectangle-1"></div>
    <p class="text-6">Search all books...</p>
  </div> -->

<div class="topbar">
    <a routerLink="/home"><img src="assets/images/logo_web-removebg-preview1.png" id="image"></a>
    <p id="top"> <a routerLink="/home" class="top">HOME</a> <a routerLink="/catalogs" class="top">CATALOG</a> <a routerLink="/mybooks" class="top">MY&nbsp;BOOKS</a> <input type="text" [(ngModel)]="findBook" placeholder="Search all books.." id="search"></p>
    <div id="log">
      <input type="image" src="assets/images/login1.png" id="login" (click)="showBar()">
      <div *ngIf="check==true" id="loginProfile">
        <button routerLink="/profile/1" class="loginProfile">Profile</button>
        <button class="loginProfile">Manage account</button>
        <button class="loginProfile">Sign out</button>
      </div>
    </div>
  </div>